@import url(https://fonts.googleapis.com/css?family=Oxygen);
@import url(https://fonts.googleapis.com/css?family=Dancing+Script);



.col-md-4 {
  padding-bottom: 100px;
  font-family: 'Oxygen', sans-serif;
}

.text-center{
    padding-bottom: 50px;
    font-family: 'Oxygen', sans-serif;
}

#container1 {
  border-right:1px dashed black;
  border-left: 1px dashed black;
}

.center-block{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#container3{
  font-family: 'Dancing Script', cursive;
  font-size: 6em;
  padding-bottom: 50px;
  color: #3090C7
}

.col-md-8{
  font-family: 'Oxygen', sans-serif;
}

#container2{
  font-family: 'Oxygen', sans-serif;
}

a {
  color:black;
}

#container4{
    border-bottom:1px dashed black;
    font-family: 'Oxygen', sans-serif;
    padding-bottom: 100px;
    padding-top: 100px;
}

#container5{
  padding-top: 100%px;
}
